{% extends 'base.html.twig' %}

{% block title %}IOT Monitoring{% endblock %}

{% block body %}
    <div class="container">
        <div class="btn_container">
            <button class="btn" id="startBtn">Commencer</button>
        </div>
    </div>
{% endblock %}
