* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    background: #F1F1F1;
}

* a {
    color: #F1F1F1;
    text-decoration: none;
}

header {
    width: 100%;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
}

header > div > a {
    color: #1a1d20;
    margin-inline: 1rem;
}
.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 100vh;
}

.btn_container {
    display: flex;
    width: 100%;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    border-radius: 3px;
    background: #151580;
    color: #F1F1F1;
    width: 15%;
    font-size: 1.4rem;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover{
    background: #101061;
    cursor: grab;
}

#moduleContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10rem;
    max-height: 80rem;
}

#moduleContainer > div {
    width: 33%;
}

.messageContainer {
    min-height: 21rem;
    max-height: 21rem;
    margin: 0 auto;
    width: 70%;
}

.newModuleContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.newModuleContainer > a > button{
    width: 100%;
    margin-top: 4rem;
}

.module, form {
    background: #ededed;
    box-shadow: rgba(0, 0, 0, 0.12) 1px 1px 1px 1px;
    padding: 4rem;

}