{% extends 'base.html.twig' %}

{% block title %}New Module{% endblock %}

{% block body %}
    <h1 class="p-4">Création de module</h1>

    <div class="container-fluid mt-4 w-50">
        {% form_theme form 'bootstrap_5_layout.html.twig' %}
        {{ form(form) }}
    </div>

{% endblock %}
