{% extends 'base.html.twig' %}

{% block title %}Module{% endblock %}

{% block body %}
    <h1 class="m-4">Module</h1>

    <div class="card m-2 w-50 m-auto p-4 mt-5">
        <div class="card-body">
                <p class="card-text">Id: {{ module.id }}</p>
                <p class="card-text">Nom: {{ module.name }}</p>
                <p class="card-text">Description: {{ module.description }}</p>
        </div>
    </div>

{% endblock %}
